## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,88,Aswan,EG,99.70,clear sky,24.0934,32.9070,Nuba Nile
1,218,Porto Nacional,BR,95.00,few clouds,-10.7081,-48.4172,Vila Real Hotel
2,257,Cacoal,BR,98.37,scattered clouds,-11.4386,-61.4472,Hotel BR 364
3,272,Itupiranga,BR,95.32,clear sky,-5.1347,-49.3267,Hotel Panorama
4,298,Riyadh,SA,98.74,clear sky,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Nizwa"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Nizwa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Doha"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bandar-E Lengeh"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Riyadh"]

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0], 
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0], 
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(22.9333, 57.5333)
(22.9333, 57.5333)
(25.2867, 51.5333)
(26.5579, 54.8807)
(24.6877, 46.7219)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
start
end
stop1
stop2
stop3

fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1646,Nizwa,OM,95.07,broken clouds,22.9333,57.5333,Orient Apartments
1,1493,Doha,QA,96.78,clear sky,25.2867,51.5333,Mövenpick Doha
2,1112,Bandar-E Lengeh,IR,95.11,clear sky,26.5579,54.8807,کافی نت پارس
3,298,Riyadh,SA,98.74,clear sky,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
4,1646,Nizwa,OM,95.07,broken clouds,22.9333,57.5333,Orient Apartments

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))